html{
    text-align: center;
}

button{
    position: relative;
  left: 500px;
}
body {
    background-image: url("https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwifgb6qwKPhAhUlnOAKHfCYBGcQjRx6BAgBEAU&url=https%3A%2F%2Fcoolbackgrounds.io%2F&psig=AOvVaw1Nb4HaGEawFdwos63GSTQR&ust=1553816676799986");
       
    
   }