<div class="container">
  <app-banner></app-banner>
  <div class="container align-content-center">

    <!-- <form action="api/login" method="post"> -->
    <div class="form-row justify-content-center">
      <h4>Invite:</h4>
    </div>
    <br>
    <div class="form-row justify-content-center">
      <label>Opponent username:</label>
    </div>
    <div class="form-row justify-content-center">
      <input class="inputstyle" type="text" [(ngModel)]="opponentUsername" id="username" placeholder="Username">
    </div>
    <!-- <div class="form-row justify-content-center">
        <h4>or</h4>
      </div>

      <div class="form-row justify-content-center">
        <label>Opponent email:</label>
      </div>
      <div class="form-row justify-content-center">
        <input class="inputstyle" type="email" name="email" id="email" placeholder="Email">
      </div> -->
    <br>
    <div class="form-row justify-content-center">
      <input class="btn btn-primary" type="submit" value="Start" (click)="onSubmit()" id="submitButton">
    </div>
    <!-- </form> -->
    <br>
    <br>
    <a routerLink="/playOp">Back</a>
  </div>
</div>
