<div class="container">
  <app-banner></app-banner>
  <div class="container align-content-center">
    <div class="form-row justify-content-center">
      <h4>Invite:</h4>
    </div>
    <br>
    <div class="form-row justify-content-center">
      <label>Opponent username:</label>
    </div>
    <div class="form-row justify-content-center">
      <input class="inputstyle" type="text" [(ngModel)]="opponentUsername" id="username" placeholder="Username">
    </div>
    <br>
    <div *ngIf="message">
      <div class="form-row justify-content-center" style="color:red">
        <p>{{message}}</p>
      </div>
    </div>
    <div class="form-row justify-content-center">
      <input class="btn btn-primary" type="submit" value="Start" (click)="onSubmit()" id="submitButton">
    </div>
    <br>
    <br>
    <a routerLink="/playOp">Back</a>
  </div>
</div>
