<div class="container">
  <app-banner></app-banner>
  <br>
  <div class="container align-content-center">

    <div class="form-row justify-content-center">
      <a class="btn btn-primary" routerLink="/playOp">Play Now!</a>
    </div>
    <br>
    <div class="form-row justify-content-center">
      <a class="btn btn-primary" routerLink="/profile">Profile</a>
    </div>
    <br>
    <div class="form-row justify-content-center">
      <a class="btn btn-primary" routerLink="/leaderboard">Leaderboard</a>
    </div>
    <br>

    <br>
    <div class="form-row justify-content-center">
      <button class="btn btn-primary" (click)="logout()">Logout</button>
    </div>
    <br>
  </div>
</div>
