<div class="container">
  <app-banner></app-banner>
  <div class="container align-content-center">

    <div class="form-row justify-content-center">
      <a class="btn btn-outline-primary" routerLink="/playOp">Play Now!</a>
    </div>
    <br>
    <div class="form-row justify-content-center">
      <a class="btn btn-outline-primary" routerLink="/profile">Profile</a>
    </div>
    <br>
    <div class="form-row justify-content-center">
      <a class="btn btn-outline-primary" routerLink="/leaderboard">Leaderboard</a>
    </div>
    <br>

    <br>
    <div class="form-row justify-content-center">
      <input class="btn btn-outline-primary" type="submit" value="logout" id="submitButton">
    </div>
    <br>
  </div>
</div>
