
<div class="container">
  <div class="row">
    <div class="col">
      
    </div>
    <div class="col-12">
      <form  style="Background-color:rgb(87, 156, 177)">
        <br>
        <input style="background-color: rgb(209, 209, 238)" type="text" class="form-control" placeholder="First Name" name="FirstName" id="FirstName"><br>
        <input style="background-color: rgb(209, 209, 238)" type="text" class="form-control" placeholder="Last name" name="LastName" id="LastName"><br>
        <input style="background-color: rgb(209, 209, 238)" type="text" class="form-control" placeholder="Email" name="Email" id="Email"><br>
        <input style="background-color: rgb(209, 209, 238)" type="text" class="form-control" placeholder="Username" name="Username" id="Username"><br>
        <input style="background-color: rgb(209, 209, 238)" type="password" class="form-control" placeholder="Password" name="Password" id="Password"><br>
        <input style="background-color: rgb(209, 209, 238)" type="password" class="form-control" placeholder="Confirm Password" name="ConfirmPassword" id="ConfirmPassword"><br>
        <button id="submit" type="button" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col">
      
    </div>
  </div>
</div>