<div class="container">
  <div id="canvasContainer" style="height: 400px">
    <div class="form-row justify-content-center">
      <h4>Draw: {{randWord}}</h4>
    </div>
    <div class="form-row justify-content-center">
      <div *ngIf="count < 3">
        <button class="btn btn-primary" (click)='getNewWord()'>Get a new word!</button>
      </div>
      <button class="btn btn-primary" (click)='submit()'>Submit!</button>
    </div>
    <br>
    <canvas-whiteboard #canvasWhiteboard [drawButtonClass]="'drawButtonClass'" [drawButtonText]="'Draw'"
      [clearButtonClass]="'clearButtonClass'" [clearButtonText]="'Clear'" [undoButtonText]="'Undo'"
      [undoButtonEnabled]="true" [redoButtonText]="'Redo'" [redoButtonEnabled]="true" [colorPickerEnabled]="true"
      [saveDataButtonEnabled]="true" [saveDataButtonText]="'Save'" [lineWidth]="5" [strokeColor]="'rgb(0,0,0)'"
      [shouldDownloadDrawing]="false" [aspectRatio]=".5">
    </canvas-whiteboard>
  </div>
</div>
