

    <div class="jumbotron" style="background-color: rgb(106, 106, 226)" >
        <h1  style="color:bisque" class="display-5">Picture Perfect</h1>
        </div>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Make a Reimbursement
      </button>
 
    <div class="collapse" id="collapseExample" style="Background-color:rgb(118, 118, 167)">
      <div class="card card-body" style="Background-color:rgb(87, 156, 177)">
       <form  style="Background-color:rgb(87, 156, 177)">
           <input type="text" class="form-control" placeholder="Category" name="category" id="category"><br>
           <input type="number" class="form-control" placeholder="Cost" name="cost" id="cost"><br>
           <input type="text" class="form-control" placeholder="Merchant" name="merchant" id="merchant"><br>
           <input type="date" class="form-control" placeholder="Date" name="date" id="date"><br>
           <button id="submit" type="button" class="btn btn-primary">Submit</button>
       </form>>
      </div>
      </div>
      <br>
      <button id="ActiveB" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Active" aria-expanded="false" aria-controls="collapseExample">
        View Active Reimbursments
      </button>


