<html>
<body>
<!-- <nav>
  <a class="btn btn-primary" routerLink="/">Clear</a>
  <a class="btn btn-primary" routerLink="/login">Login</a>
  <a class="btn btn-primary" routerLink="/register">Register</a>
  <a class="btn btn-primary" routerLink="/dashboard">Dashboard</a>
  <a class="btn btn-primary" routerLink="/profile">Profile</a>
  <a class="btn btn-primary" routerLink="/updateInf">Update Information</a>
  <a class="btn btn-primary" routerLink="/leaderboard">Leaderboard</a>
  <a class="btn btn-primary" routerLink="/playOp">PlayOptions</a>
  <a class="btn btn-primary" routerLink="/newGame">NewGame</a>
  <a class="btn btn-primary" routerLink="/resumeGame">ResumeGame</a>
  <a class="btn btn-primary" routerLink="/playDr">PlayDraw</a>
  <a class="btn btn-primary" routerLink="/playGu">PlayGuesser</a>
  <a class="btn btn-primary" routerLink="/postGame">Post Game Lobby</a>
</nav> -->
<!-- <hr> -->
<br>
<div class="container">
  <div class="jumbotron">
    <router-outlet></router-outlet>
  </div>
</div>
</body>
</html>