<div class="container">
  <div class="jumbotron">
    <h1 class="display-5" style="text-align:center">{{username}}</h1>
    <img id="pencil" src="http://www.clker.com/cliparts/i/Z/9/8/F/V/blue-pencil-hi.png" />
    <hr>
  </div>
  <div class="form-row justify-content-center">
      <a class="btn btn-primary" routerLink="/updateInf">Update Information</a>&nbsp;
      <a class="btn btn-primary" routerLink="/dashboard">Dashboard</a>
  </div>
  <br>
  <br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Games played</th>
        <th>Wins</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ogUser.gamesPlayed}}</td>
        <td>{{ogUser.wins}}</td>
        <td>{{ogUser.points}}</td>
      </tr>
    </tbody>
  </table>

</div>
