<div class="container">
  <h1 class="display-5">{{username}}</h1>
  <img id="pencil" src="http://www.clker.com/cliparts/i/Z/9/8/F/V/blue-pencil-hi.png" />
  <hr>
  <div class="form-row justify-content-center">
    <a class="btn btn-outline-primary" routerLink="/updateInf">Update Information</a>
  </div>
  <br>
  <br>
  <h4>Game statistics:</h4>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Games played</th>
        <th>Wins</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <a class="btn btn-outline-primary" routerLink="/dashboard">Dashboard</a>
</div>
