<div >
<a routerLink="/log-in" ><button style="text-align: center" id="logIn" type="button" class="btn btn-primary">Login</button></a>
<a routerLink="/create-account" ><button id="CreateAccount" type="button" class="btn btn-primary">Create Account</button></a>
<a routerLink="/UserPage" ><button style="text-align: center" id="userPage" type="button" class="btn btn-primary">User Page</button></a>
<a routerLink="/AdminPage" ><button id="AdminPage" type="button" class="btn btn-primary">Admin Page</button></a>
<a routerLink="/GameView" ><button style="text-align: center" id="GameView" type="button" class="btn btn-primary">Game View</button></a>
<a routerLink="/GuessingView" ><button id="GuessingView" type="button" class="btn btn-primary">Guessing View</button></a>
</div>