<div class="container">
    <app-banner></app-banner>
    <h4>Resume game:</h4>
    <br>
    <div class="container align-content-center">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Opponent</th>
                <th>State</th>
                <th>Turn</th>
              </tr>
            </thead>
            <tbody class="table-hover">
            </tbody>
          </table>
  
      <br>
      <a routerLink="/playOp">Back</a>
    </div>
  </div>