
<div class="container">
  <div class="row">
    <div class="col">
      <form  style="Background-color:rgb(87, 156, 177)">
        <br>
       
        <input style="background-color: rgb(209, 209, 238)" type="text" class="form-control" placeholder="Username" name="Username" id="Username"><br>
        <input style="background-color: rgb(209, 209, 238)" type="password" class="form-control" placeholder="Password" name="Password" id="Password"><br>
        
        <button id="submit" type="button" class="btn btn-primary">Log In</button>
      </form><br><br>
    </div>
    <div class="col-12">
      
    </div>
    <div class="col">
      
    </div>
  </div>
</div>