<div class="container">
    <app-banner></app-banner>
    <br>
    <div class="container align-content-center">
  
      <div class="form-row justify-content-center">
        <a class="btn btn-primary" routerLink="/newGame">New Game</a>
      </div>
      <br>
      <div class="form-row justify-content-center">
        <a class="btn btn-primary" routerLink="/resumeGame">Resume Game</a>
      </div>
      <br>
      <div class="form-row justify-content-center">
          <a class="btn btn-primary" routerLink="/dashboard">Dashboard</a>
      <br>
    </div>
  </div>