<div class="container">
    <app-banner></app-banner>
    <div class="container align-content-center">
  
      <div class="form-row justify-content-center">
        <a class="btn btn-outline-primary" routerLink="/newGame">New Game</a>
      </div>
      <br>
      <div class="form-row justify-content-center">
        <a class="btn btn-outline-primary" routerLink="/resumeGame">Resume Game</a>
      </div>
      <br>
  
      <br>
      <a routerLink="/dashboard">Dashboard</a>
    </div>
  </div>