<div class="container">
  <div class="jumbotron">
    <h1 class="display-5" style="text-align:center">Leaderboard</h1>
    <img id="pencil" src="http://www.clker.com/cliparts/i/Z/9/8/F/V/blue-pencil-hi.png" />
    <hr>
  </div>
  <div class="form-row justify-content-center">
    <a class="btn btn-primary" routerLink="/dashboard">Dashboard</a>
  </div>
  <br>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Rank</th>
        <th>Username</th>
        <th>Games played</th>
        <th>Wins</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody class="table-hover">
      <tr *ngFor='let player of players; let i =index'>
        <td>{{i+1}}</td>
        <td>{{player.username}}</td>
        <td>{{player.gamesPlayed}}</td>
        <td>{{player.wins}}</td>
        <td>{{player.points}}</td>
      </tr>
    </tbody>
  </table>
</div>
