<div class="container">
  <div>
    <div class="form-row justify-content-center">
      <!-- <img src="https://www.ledr.com/colours/white.jpg" alt="Picture" height="400px"> -->
      <div *ngIf="image">
        <img [src]='image'>
      </div>
    </div>
    <br>
    <div class="form-row justify-content-center">
      <div *ngIf="hiddenGuess">
        <h1>{{hiddenGuess}}</h1>
      </div>
    </div>
    <br>
    <div class="form-row justify-content-center">
      <div *ngIf="message">
        <h1>{{message}}</h1>
      </div>
    </div>
    <br>
    <div class="form-row justify-content-center">
      <input class="inputstyle" type="text" [(ngModel)]="guess" name="guess" id="guess" placeholder="Guess">
    </div>

    <div class="form-row justify-content-center">
      <a class="btn btn-outline-primary" (click)="print()">Guess</a>
    </div>
  </div>
</div>
